
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: blue;
    font-size: 40px;
}
h1:hover {
    transform: scale(1.2);
}

img {
    transition: transform 0.3s;
}
img:hover {
    transform: scale(1.1);
}
